dot_config/noctalia/plugins/github-feed/settings.json
dot_config/noctalia/plugins/github-feed/cache/
dot_config/kdeconnect/private_certificate.pem
dot_config/kdeconnect/private_privateKey.pem
dot_config/opencode/node_modules/
